<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>За нас</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container" style="padding-top: 120px; padding-bottom: 60px;">
            <h1 class="section-title">Завет</h1>
            <div class="content-block">
                <p>29. СУ "Кузман Шапкарев" е училище с дългогодишна история и традиции...</p>
                <p>Ние се гордеем с нашите ученици и преподаватели...</p>
            </div>
        </div>
    </div>
</body>

</html>